/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	background-color: #000;
}

.heading-primary {
	font-size: 4rem;
	margin-bottom: 20px;
}

.heading-secondary {
	font-size: 1.2 rem;
}

.heading-tertiary {
	margin-top: 30px;
}

.container {
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
	padding: 0px 50px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	padding-top: 20px;
}

.main-nav a {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: none;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header-box {
	text-align: center;
	margin: 0 auto;
	margin-top: -25px;
}

.btn {
	display: flex;
	justify-content: center;
	background-color: #fff;
	text-decoration: none;
	border: 2px solid rgb(150, 150, 150);
	font-size: 1rem;
	width: 150px;
	margin: 0 auto;
	padding: 7px;
	text-align: center;
	color: inherit;
}

.main-top-content {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.main-bottom-content {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 50px;
}

.content:not(:last-child) {
	padding-right: 30px;
}

#footer {
	height: 45vh;
	display: flex;
	flex-direction: column;
}

footer nav a{
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	color: inherit;
	text-decoration: none;
}

footer p {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}


/* CONTENT ON SERVICES PAGE */
.heading-primary--2 {
	font-size: 2rem;
}

.heading-secondary--2 {
	font-size: 1.2rem;
}

.heading-tertiary--2 {
	font-size: 1rem;
}

.services-header__text {
	font-size: 1rem;
}

.services-hero-img {
	margin-top: -30px;
}

.services-header-content {
	padding: 30px 0 50px;
}

/* MAIN CONTENT */
.services-main-content {
	margin: 50px 0;
}
.services-box {
	border: 3px solid #000;
	padding: 20px 30px;
	width: 48%;
}

.services-box__text {
	font-size: 1.1rem;
	line-height: 1.2;
}

.services-box button{
	display: inline-block;
	margin-top: 15px;
	padding: 10px 40px;
	border: 2px solid rgb(134, 134, 134);
	border-radius: 5px;
	color: inherit;
	font-size: .8rem;
}

.services-section-top,
.services-section-center,
.services-section-bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

#footer{
	margin-top: 50px;
	height: 60vh;
}

.services-footer {
	display: flex;
	justify-content: space-between;
}

.services-footer-content {
	padding-right: 80px;
}

.footer-text {
	margin: -2px 0 30px;
}

.footer-list {
	list-style: square;
}

.footer-items {
	margin: 0 20px 15px;
}

footer p:last-child {
	text-align: center;
	margin-top: 100px;
}





/* body{
	background-color: #000;
}

@keyframes popInOut{
	0%{
		transform: translateY(-8px) scale(1.3);
	}

	25%{
		transform: translateY(0px) scale(.7);
	}

	50%{
		transform: translateY(-5px) scale(1.2);
	}

	100%{
		transform: translateY(0px) scale(1);
	}
}

@keyframes bounce{
	0%{
		transform: translate(-3px, -10px) scale(1.3);
	}

	15%{
		transform: translate(3px, -10px) scale(1.3);;
	}

	30%{
		transform: translate(-3px, 0) scale(1.3);;
	}

	45%{
		transform: translate(3px, 0) scale(1.3);;
	}

	60%{
		transform: translateY(-8px) scale(1.1);;
	}

	75%{
		transform: translateY(0) scale(.3);
	}

	90%{
		transform: translateY(-5px) scale(.8);
	}

	100%{
		transform: translateY(0) scale(1);
	}
}

p{
	font-size: 1rem;
}

.heading-primary{	
	
}

.heading-secondary{
	font-size: 1.4rem;
}

.heading-tertiary{
	margin-top: 30px;
	font-size: 1.3rem;
}

header{
	margin-bottom: 50px;
}

.main-nav{
	display: flex;
	justify-content: space-between;
	border: 3px solid #000;
}

.header-logo{
	display: flex;
	justify-content: center;
	border: 3px solid red;
}

.logo{
	width: 150px;
	height: 50px;
	align-self: flex-end;
}

.header-content{
	padding-top: 250px;
	background-image: url(../img/header-img.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

header nav a{
	perspective: 1000px;
	font-family: 'Roboto', 'Arial', sans-serif;	
	margin: 30px 0;
	text-decoration: none;
	color: rgb(223, 223, 223);
}

/* header nav a:hover{
	color: #fff;
	animation-name: popInOut;
	animation-duration: 1s;
	animation-timing-function: ease-out;
*/
/* 
header nav a:not(:last-child){
	margin-right: 60px;
}



.header-box{
	text-align: center;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	transform: translateY(-20%);
}

/* .header-img{
	display: inline-block;
	width: 45%;
	margin-left: 30px;
} */

/* 

.btn:hover{
	background-color: crimson;
	color: white;
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.main-top-content{
	margin-top: 50px;
}

.features-content,
.about-content{
	display: inline-block;
	width: 49.5%;
	
}

.features-content{
	padding-right: 20px;
}

.about-content{
	padding-left: 20px;	
}

.middle-img{
	background-image: url(../img/mid-page-accent.jpg);
	width: 100%;
	height: 180px;
	margin: 50px 0;
}

.main-bottom-content{
	margin-bottom: 50px;
}

.services-content,
.product-content,
.vision-content{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

.services-content,
.product-content{
	margin: 0 auto;
	padding-right: 10px;
}

.vision-content{
	padding-left: 10px;
}

/* FOOTER SECTION */

/* footer{
	height: 40vh;
}

footer nav a{
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
	color: #000;
}

footer p{
	margin-top: 50px;
	text-align: center;
} */

